@model PostVM
@{
    ViewBag.Title = "AdminPanel";
}

    <div class="btn btn-default">
        Yeni Bir Post Eklemek İçin  @Html.ActionLink("Tıklayınız", "AddPost")
    </div>
    <div class="btn btn-default"> Yeni Bir Kategori Eklemek için @Html.ActionLink("Tıklayınız", "AddCategory")</div>

    <div class="btn btn-default">Yeni Bir Etiketik Eklemek İçin @Html.ActionLink("Tıklayınız", "AddTag")</div>
    
<div class="panel panel-primary">
    <div class="panel panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Post Resmi</th>
                    <th>Post Ismi</th>
                    <th>Post Başlık Açıklama </th>
                    <th>Yazar</th>
                    <th colspan="2" style="padding-left:100px">Islemler</th>
                </tr>
            </thead>

            <tbody>
                @foreach (Post item in Model.Posts)
                {
                    <tr>

                        <td>@item.Title</td>
                        <td>@item.TitleDescription</td>
                        <td>@item.AppUser</td>
                        <td>@Html.ActionLink("Posta Git", "GoToPost", new { id = item.ID }, new { @class = "btn btn-warning" })</td>
                        <td>@Html.ActionLink("Posta Etiket Ekle", "AddPostTag", new { id = item.ID }, new { @class = "btn btn-warning" })</td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

