<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
    <header class="header-wrapper">
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <!---  <ul class="nav navbar-nav">
                      <li>@Html.ActionLink("Home", "Index", "Home")</li>
                      <li>@Html.ActionLink("About", "About", "Home")</li>
                      <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul> -->
                </div>
            </div>
        </div>
    </header>
    <div class="container body-content">

        <div class="introduce-container">
            <h3>Kişisel Bloğum</h3>
            <p>Our everyday thoughts are presented here Music, video presentations, photo-shootings and more.</p>
        </div>
        
        <div class="container flow-container">
            <div class="row">
                <div class="col-md-9  flow-div">
                    @RenderBody()
                    a
                </div>
                <div class="col-md-3  right-widgets">

                    <div class="search-bar">
                        <form>
                            <input class="col-md-8" type="search" placeholder="Search site..." />
                            <button class="col-md-4" type="submit">Ara</button>
                        </form>
                    </div>

                    <div class="about-widget">
                        <div class="about-me">
                            <img src="https://via.placeholder.com/180x90" />
                            <h3>Hakkımda</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin, ipsum in molestie ultrices, lacus ipsum in molestie ultrices, lacus..
                            </p>
                        </div>
                    </div>

                    <div class="social-widget">
                        <h3>Beni Takip Et!</h3>
                        <div class="social-container">
                            <a class=" btn btn-primary btn-lg btn-floating"
                               href="#!"
                               role="button">
                                <i class="fab fa-instagram"></i>
                            </a>

                            <a class=" btn btn-primary btn-lg btn-floating"
                               href="#!"
                               role="button">
                                <i class="fab fa-linkedin-in"></i>
                            </a>

                            <a class="  btn btn-primary btn-lg btn-floating"
                               href="#!"
                               role="button">
                                <i class="fab fa-github"></i>
                            </a>

                            <a class=" btn btn-primary btn-lg btn-floating"
                               href="#!"
                               role="button">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                    </div>

                    <div class="latest-widget">
                        <h3>Latest Posts</h3>
                        <ul>
                            <li><a href="#">Why You're </a></li>
                            <li><a href="#">Where to Find Guest Blogging Opportunities on Web 3.0 </a></li>
                            <li><a href="#">8How to Explain Web 3.0 to Your Mom</a></li>
                            <li><a href="#">20 Fun Facts About Web 3.0</a></li>
                            <li><a href="#">910 Things You Learned in Kindergarden That'll Help You With Web 3.0</a></li>
                        </ul>
                    </div>

                    <div class="categories-widget">
                        <h3>Categories</h3>
                        <ul>
                            <li><a href="#">General </a> <span>(0)</span></li>
                            <li><a href="#">Software</a> <span>(0)</span></li>
                            <li><a href="#">Crypto Currencies</a> <span>(0)</span></li>
                            <li><a href="#">Science</a> <span>(0)</span></li>
                            <li><a href="#">Random </a> <span>(0)</span></li>
                        </ul>
                    </div>

                    <div class="tag-widget">
                        <h3>Tags</h3>
                        <div class="tag-cloud">
                            <a href="#">design</a>
                            <a href="#">music</a>
                            <a href="#">crypto</a>
                            <a href="#">news</a>
                            <a href="#">fun</a>
                            <a href="#">game</a>
                            <a href="#">random</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
            <hr />
            <footer>
            </footer> 
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.0/umd/react-dom.development.js"></script>
    <script src="@Url.Content("~/Scripts/Js/App.jsx")"></script>>
    <script src="~/Scripts/Js/script.js"></script>
</body>
</html>
