@model CategoryVM
@{
    ViewBag.Title = "CategoryList";
}

<ul class="post-flow-wrapper">
    <li class="post-main">

        @foreach (Post item in Model.Posts.OrderByDescending(x => x.ID))
        {
            <div class="post">
                <div class="post-thumbnail">
                    <a href="#">
                        <img src="@Url.Content(item.ImagePath)" alt="Resim Yok" />
                    </a>
                </div>



                <div class="post-details">
                    <header class="post-header">
                        <h3 class="post-title">
                            <a href="">@item.Title</a>
                        </h3>
                    </header>
                    <div class="post-text">
                        <p>
                            @item.TitleDescription
                        </p>
                    </div>
                    <div class="post-last-details">
                        <div class="post-send-time">
                            <i class="far fa-calendar-alt">
                                @item.CreatedDate
                            </i>
                        </div>
                        <div class="post-category">
                            <i class="far fa-folder">
                                <a>@Html.ActionLink(@item.Category.CategoryName, "CategoryList", new { id = item.Category.ID })</a>
                            </i>
                        </div>
                    </div>
                </div>

            </div>
        }

    </li>
</ul>